@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

:root {
--color-background: #dede00;
--color-branco: #ffffff;
--color-preto: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color:var(--color-background);
    margin-left: 120px;
}

.quadro1 {
    width: 1400px;
    height: 900px;
}

.topo {
    /*margin-left: 140px;*/
    margin-top: 65px;
}

.logo-text {
    width: 166.272px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 130.73px;

    color:var(--color-preto);
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
}

.links-bar {
    margin-top: 68px;
    display: inline-block;
}

.link {
    display: inline;

    width: 58px;
    height: 22px;
    flex-shrink: 0;
    margin-right: 38px;

    color: var(--color-preto);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.corpo {
    display: flex;

    /*padding-left: 140px;
    padding-top: 166px;
    padding-right: 128px;
    padding-bottom: 68px;*/
}

h1 {
    width: 589px;

    margin-right: 11px;
    margin-top: 236px;

    color:var(--color-preto);
    font-size: 40px;
    font-weight: 800;
}

.descricao p {
    width: 560px;
    height: 105px;
    flex-shrink: 0;
    margin-right: 38px;
    margin-top: 26px;

    color: var(--color-preto);
    font-size: 24px;
    font-weight: 400;
}

.agendar {
    color: var(--color-branco);
    text-align: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;

    width: 259px;
    height: 84px;
    padding: 27px 10px;
    flex-shrink: 0;

    border-radius: 30px;
    background: var(--color-preto);

    display: block;

    margin-top: 27px;
}

@media screen and (max-width: 900px) {
    .quadro1 {
        width: 375px;
        height: 667px;
    }


    body {
        background-color: var(--color-background);
        margin-left: 20px;
    }

    .topo {
        margin-top: 0px;
        width: 375px;
    }

    .logo-text {
        margin-right: 30px;
    }

.links-bar {
    margin-top: 28px;
}

    .link {
        /*margin-right: 12px;*/
    }

    .corpo {
        display: flex;
    
        /*padding-left: 140px;
        padding-top: 166px;
        padding-right: 128px;
        padding-bottom: 68px;*/
    }

    h1 {
        width: 375px;
    
        /*margin-right: 11px;*/
        margin-top: 100px;
    
        color:var(--color-preto);
        font-size: 40px;
        font-weight: 800;
    }

    .descricao p {
        max-width: 360px;
        height: 105px;
        /*margin-right: 38px;*/
        margin-top: 28px;
    
        color: var(--color-preto);
        font-size: 24px;
        font-weight: 400;
    }

    .agendar {
        color: var(--color-branco);
        text-align: center;
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 400;
        text-decoration: none;
    
        width: 259px;
        height: 84px;
        padding: 27px 10px;
        flex-shrink: 0;
    
        border-radius: 30px;
        background: var(--color-preto);
    
        display: block;
    
        margin-top: 30px;
    }

    img {
        display: none;
    }
}